#program_info {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  background-color: #d8d9cf;
  position: relative;
  top: 5rem;

  border-radius: 8px;
  margin: 0 auto;
  width: 80%;

  h3 {
    color: #f47018;
    font-size: x-large;
    font-family: "Alegreya", serif;
  }

  li,
  p {
    font-size: large;
    font-weight: bold;
    font-family: "Alegreya", serif;
  }

  #price_tag {
    color: red;
  }
}
