#contact_form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  background-color: #f47018;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  top: 3rem;
  //bottom: 2rem;

  input {
    border-radius: 8px;
    height: 3rem;
    border-style: none;
    padding-left: 0.5rem;
    margin: 20px 0 20px 0;
  }

  textarea {
    padding-left: 0.5rem;
    border-radius: 8px;
  }

  ::placeholder {
    font-family: "Alegreya", serif;
  }
}

#send_button {
  width: 30%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 20px auto !important;
  &:hover {
    background-color: red;
    transform: scale(1.09);
    transition: all 0.3s;
  }
}

.leaflet-container {
  width: 80%;
  height: 30rem;
  border-radius: 8px;
}

#map_div {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.text_decoration_div {
  text-align: center;
  position: relative;
  top: 1rem;
  background-color: #802424;
  width: 90%;
  margin: 0 auto;
  height: 5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: x-large;
}

@media screen and (max-width: 768px) {
  #contact_form {
    width: 20rem;

    input {
      height: 3rem;
      
    }
  }
}
