#contact_form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  background-color: #f47018;
  padding: 1rem;
  border-radius: 8px;

  input {
    border-radius: 8px;
    height: 3rem;
    border-style: none;
  }
}

#send_button {
  width: 30%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  &:hover {
    background-color: red;
    transform: scale(1.09);
    transition: all 0.3s;
  }
}

.leaflet-container {
  width: 80%;
  height: 30rem;
  //justify-content: center;
  //align-items: center;
  //display: flex !important;
  //padding-top: 3rem;
  border-radius: 8px;

}

#map_div {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}
