#strength_program_main {
  margin: 0;
  //background-color: red;
}

#slider {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.slider {
  width: 70% !important; //override klase iz libraryja
  //background-color: red;
  border-color: #802424;
  border-width: 10px;
  border-style: solid;
  border-radius: 8px;
  top: 3rem;

  //height: 30rem !important;
}

.slider_image {
  border-radius: 8px;
  width: 100%;
}

h1 {
  margin: 0;
}

#name_div {
  background-color: #f47018;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 5rem;
  width: 80%;
  top: 1rem;
  border-radius: 8px;
  align-items: center;
  margin: 0 auto; //ovo je bilo vazno!!
}

#program_info {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  background-color: #d8d9cf;
  position: relative;
  top: 5rem;

  border-radius: 8px;
  margin: 0 auto;
  width: 80%;

  h3 {
    color: #f47018;
    font-size: x-large;
  }

  li {
    font-size: large;
    font-weight: bold;
    //boja
  }
}
