$bijela: #ffff;
$crvena: #820000;

.logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
  
}

.header {
  display: flex;
  justify-content: center;
}

.header {
  img {
    float:left;
    width: 5rem;
  }
}


