$bijela: #ffff;
$crvena: #820000;

.navbar_parent {
  //background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  //top:-2rem;
}

#navbar {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: $bijela;
  z-index: 15000;
  justify-content: center;
  width: 50%;
  height: 50%;
  font-family: "Alegreya", serif;
  font-family: "Courgette", cursive;
  font-family: "Lobster", cursive;

  a {
    text-decoration: none;
  }

  a,
  a:visited,
  a:active {
    color: inherit;
  }

  a:hover {
    color: $crvena; //ova je pretamna, promijeniti kasnije
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    background-color: #2c2b29;
    padding: 1rem;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 10rem;
    width: 5rem;
    display: flex;
    width: 100%;
    left: -1rem;
    top: -1rem;
  }

  .navbar_parent {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bars {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  .header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    z-index: 500;
    margin-bottom: 0rem;
  }

  #bars_div {
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bars {
  z-index: 999;
}
