$background: #8a0b20;

#gallery_main {
  background-color: $background;
  width: 90%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  margin: 0 auto;
  img {
    border-radius: 8px;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin: 5px;
}

#ext_pic,
#people_pic {
  height: 30rem;
}

#runners_pic {
  height: 45rem;
}

#dude_pic,
#barbells_pic,
#girl_pic {
  height: 40rem;
}

@media screen and (max-width: 768px) {
  #gallery_main {
    position: relative;
    top: 2rem;
    padding: 0.5rem;

    img {
      width: 100%;
      margin-left: 0;
    }
  }

  .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1280px) {
  #ext_pic,
  #people_pic {
    height: 17rem;
  }

  #dude_pic,
  #barbells_pic,
  #girl_pic {
    height: 22rem;
  }

  #runners_pic {
    height: 30rem;
  }
}
