#red_line {
    background-color: #802424;
    position: relative;
    top:8rem;
    width: 98%;
    height: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;

}