#footer_div {
  position: relative;

  h3 {
    margin: 0;
    position: relative;
    top: 2rem;
  }
}

#red_line {
  background-color: #802424;
  position: relative;
  top: 2rem;
  width: 98%;
  height: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
}

#icons {
  position: relative;
  top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;

  svg {
    color: black;
  }

  a:visited {
    color: black;
  }
}

.icon {
  height: 3rem;
  padding-bottom: 2rem;
}

#footer_logo {
  display: flex;
  position: relative;
  top: 2rem;
  height: 3rem;
}

#main_footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  align-items: center;

  flex-direction: row;
}

.text {
  text-decoration: none;
  color: orangered;
  font-family: "Alegreya", serif;

  &:hover {
    color: black;
  }
}

@media screen and (max-width: 768px) {
  #icons {
    svg {
      color: black;
    }
  }

  #main_footer {
    flex-direction: column;
  }

  #footer_logo {
    top: 4rem;
  }

  #footer_div {
    h3 {
      top: 3rem;
    }
  }
}
