#main_practicers_div {
  display: flex;
  top: 5rem;
  position: relative;
}

#exerciser1,
#exerciser2 {
  width: 50%;
  height: 35rem;
  z-index: 500;
}

@media screen and (max-width: 768px) {

  #main_practicers_div {
    flex-direction: column;
  }
  #exerciser1,
  #exerciser2 {
    width: 100%; //ovo promjeni, flex-direction column na glavnom divu ako budu jedan ispod drugog
    height: 20rem;
  }
}
