#programs_div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  top: 2rem;
  width: 100%;
}



.program_background {
  width: 20rem;
  height: 20rem;
}

.program_strength_icon {
  width: 5rem;
  width: 5rem;
}

.program_cardio_icon {
  width: 3.2rem;
}

.program_health_icon {
  width: 3.3rem;
}

.program_fat_burning_icon {
  width: 2.3rem;
}


#categories {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

#button_div {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}



@media screen and (max-width: 768px) {
  #categories {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
  }
}
